<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/new">
        <label for="messageUser"></label>
        <input type="text" name="messageUser">
        <label for="messageText"></label>
        <input type="text" name="messageText">
        <button type="submit">Submit</button>
    </form>
</body>
</html>